<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init } from 'aos';
import { getPageMetadata } from '~/common/meta';
import { FeaturesComparisonList } from '~/components/pricing/index.vue';
import { FreeTrialCTA, NextStep } from '~/components/common/index.vue';

export default Vue.extend({
  name: 'Pricing',
  components: {
    FeaturesComparisonList,
    FreeTrialCTA,
    NextStep,
  },
  async asyncData({ $content, error }: any) {
    try {
      const pricing = await $content(
        `pricing/self-managed/feature-comparison`,
      ).fetch();

      return { pricing };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).pricing, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <SlpRow>
    <SlpColumn :cols="12">
      <component
        :is="component.name"
        v-for="component in pricing.components"
        :key="component.name"
        :data="component.data"
      ></component>
      <NextStep />
    </SlpColumn>
  </SlpRow>
</template>
