<script lang="ts">
import Vue from 'vue';
import { LaunchDarkly } from '../components/common/index';

export default Vue.extend({
  components: {
    LaunchDarkly,
  },
});
</script>

<template>
  <LaunchDarkly feature-flag="test-flag">
    <template #control>
      <SlpButton href="/" class="ld-test-class">Control</SlpButton>
    </template>
    <template #experiment>
      <SlpButton href="/" class="ld-test-class">Experiment</SlpButton>
    </template>
  </LaunchDarkly>
</template>
